# Main bot config

HELP_MSG=This is a simple echo bot. Use /repeat command to specify how many times to repeat a message.
REPEAT_MSG=How many times do you wish to repeat a message?
DEFAULT_REPEAT=1

# Available values - Telegram, Vk
# Vk is currently not implemented
CURRENT_BOT=Telegram

# Messenger tokens

# Put your api tokens here
TG_BOT_TOKEN=some_token
VK_BOT_TOKEN=some_token

# Logger config

# Available values:
# Debug - all log messages
# Warn  - only warnings and errors
# Error - only errors
LOG_LEVEL=Debug

# Not implemented yet

# Print logs to the terminal
LOG_CONSOLE=True
LOG_FILENAME=bot.log
